<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>

    <RollingFile name="appLog"
      fileName="/tmp/employeeManager/application.log"
      filePattern="/tmp/employeeManager/application-%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="19500KB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Logger name="org.springframework.boot" level="info" additivity="false">
      <AppenderRef ref="appLog"/>
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.tsanda" level="debug" additivity="false">
      <AppenderRef ref="appLog"/>
      <AppenderRef ref="Console"/>
    </Logger>

    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="appLog"/>
    </Root>
  </Loggers>
</Configuration>